# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files
models/*.pkl
models/*.joblib

# Output files
outputs/

# OS files
.DS_Store
Thumbs.db


# data
data/
